<div id="address-details" [formGroup]="purchaseForm">

  <h3>Shipping Information</h3>

  <div formGroupName="addressDetails">
    <label for="name">Name<i class="required">*</i></label>
    <input id="name" class="form-control address-form" type="text" formControlName="name">
  </div>

  <div formGroupName="addressDetails">
    <label for="street">Street<i class="required">*</i></label>
    <input id="street" class="address-form" type="text" formControlName="street">
  </div>

  <div formGroupName="addressDetails">
    <label for="city">City<i class="required">*</i></label>
    <input id="city" class="address-form" type="text" formControlName="city">
  </div>

  <div formGroupName="addressDetails">
    <label for="province">Province<i class="required">*</i></label>
    <input id="province" class="address-form" type="text" formControlName="province">
  </div>

  <div formGroupName="addressDetails">
    <label for="country">Country<i class="required">*</i></label>
    <input id="country" class="address-form" type="text" formControlName="country">
  </div>

  <div formGroupName="addressDetails">
    <label for="country">email<i class="required">*</i></label>
    <input id="country" class="address-form" type="text" formControlName="email">
  </div>

  <div formGroupName="addressDetails">
    <label for="country">mobile</label>
    <input id="country" class="address-form" type="text" formControlName="mobile">
  </div>
</div>

<div class=button-row>
  <div class="button-left-container">
    <button mat-flat-button color="primary" matStepperPrevious>Back</button>
  </div>
  <div class="button-right-container">
    <button mat-flat-button color="primary" matStepperNext (click)="onClickNext()">Next</button>
  </div>
</div>