@media all and (min-width: 800px) {
  input {
    width: 100%;
  }
  
  .cart-item {
    width: 100%;
    min-width: 400px;
    max-width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 32px;
    margin-bottom: 8px;
    border-radius: 2px;
    background-color: #EEEEEE;
  }

  .empty-cart {
    width: 100%;
    min-width: 400px;
    max-width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 32px;
    margin-bottom: 8px;
    border-radius: 3px;
    border: 2px dashed;
  }

  .empty-cart span {
    width: 100%;
    text-align: center;
  }

  .purchaseBtn {
    margin-bottom: 20px;
  }
}

/* Mobile demo on: Galaxy S5 */
@media all and (max-width: 360px) {
  input {
    width: 100%;
    min-width: 325px;
  }

  .cart-item {
    width: 100%;
    min-width: 325px;
    max-width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 32px;
    margin-bottom: 8px;
    border-radius: 2px;
    background-color: #EEEEEE;
  }

  .empty-cart {
    width: 100%;
    min-width: 325px;
    max-width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 32px;
    margin-bottom: 8px;
    border-radius: 3px;
    border: 2px dashed;
  }

  .empty-cart span {
    width: 100%;
    text-align: center;
  }

  .purchaseBtn {
    margin-bottom: 20px;
  }
}