<h3>Cart</h3>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
</div>

<div class="empty-cart" *ngIf="items == 0">
  <span>Cart is empty</span>
</div>

<!-- <div class="cart-summary" *ngIf="items.length">
  <hr/>
  <div class="billingEntry">
    <span>Sub-total:</span><span class="billingCost">{{ itemsTotal }}</span>
  </div>
  <div class="billingEntry">
    <span>Shipping:</span>
    <span class="billingCost" *ngIf="shippingCost">{{ shippingCost }}</span>
    <span class="billingCost" *ngIf="shippingCost == 0">Please select shipping option</span>
  </div>
  <hr/>
  <div class="billingEntry total">
    <span>Total:</span><span class="billingCost">{{ finalTotal }}</span>
  </div>
</div> -->

<p>
  <a routerLink="/purchase/shipping">Shipping Prices</a>
</p>

<p>
  <!-- <a [routerLink]="['/address']">Address</a> -->
  <a routerLink="/purchase/address">Address</a>
</p>