<h3>Shipping Prices</h3>

<div class="shipping-item" *ngFor="let shipping of shippingCosts | async"
     [ngStyle]="{'background-color': (shipping.selected) ? '#5CB85C' : '#EEEEEE'}"
     (click)="selectShippingCost(shipping)">
  <span>{{ shipping.type }}</span>
  <span>{{ shipping.price | currency }}</span>
</div>

<div>
  <div class="button-left-container">
    <button mat-flat-button color="primary" routerLink="/cart">Cart</button>
  </div>
  <div class="button-right-container">
    <button mat-flat-button color="primary" matStepperNext>Next</button>
  </div>
</div>